[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv
	branch = v1.x
[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "deps/wamr"]
	path = deps/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
