name: Publish @txikijs/types

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Publish package
        working-directory: ./types
        # ensure that the version of the tag is used for publishing
        run: |
          npm version ${GITHUB_REF_NAME#v}
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
