name: Releases

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - master

jobs:
  build-windows-x86_64:
    runs-on: windows-latest
    timeout-minutes: 60
    env:
      VCPKG_DEFAULT_TRIPLET: x64-windows
      VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v8
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: '66c0373dc7fca549e5803087b9487edfe3aca0a1'
      - name: Install dependencies
        run: vcpkg install libffi:x64-windows-static
      - name: Configure
        run: |
          cmake -B build -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static
      - name: Build
        run: cmake --build build --config Release
      - name: Package
        run: |
          mkdir txiki-windows-x86_64
          cp build/Release/tjs.exe txiki-windows-x86_64/tjs.exe

      - name: Upload windows x86_64 Artifact
        uses: actions/upload-artifact@v6
        with:
          name: txiki-windows-x86_64
          path: txiki-windows-x86_64

  build-macos-arm64:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: build macos arm64
        run: |
          make

          mkdir txiki-macos-arm64
          cp build/tjs txiki-macos-arm64/tjs

      - name: Upload macos arm64 Artifact
        uses: actions/upload-artifact@v6
        with:
          name: txiki-macos-arm64
          path: txiki-macos-arm64

  build-macos-x86_64:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: build macos x86_64
        run: |
          make

          mkdir txiki-macos-x86_64
          cp build/tjs txiki-macos-x86_64/tjs

      - name: Upload macos x86_64 Artifact
        uses: actions/upload-artifact@v6
        with:
          name: txiki-macos-x86_64
          path: txiki-macos-x86_64

  release:
    needs: [build-windows-x86_64, build-macos-arm64, build-macos-x86_64]
    name: release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v8
        with:
          path: dist
          pattern: txiki-*
          merge-multiple: false

      - name: compress
        run: |
          cd dist
          for dir in */; do zip -r "${dir%/}.zip" "$dir"; done

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: "dist/*.zip"
